<!DOCTYPE html>
<html>
  <main class="main">
  <head>
    <title> Flight Planner </title>
  </head>
    
    <body>
    
    <h1> Pick your Flight Today </h1>
      <form>
        <label for="type"></label>
        <select id="type" name="type">
          <option value="oneway">One Way</option>
          <option value="roundtrip">Round Trip</option>
        </select>
        
        <label for="class"></label>
        <select id="class" name="class">
          <option value="econonmy">Economy</option>
          <option value="econonmyplus">Economy Plus</option>
          <option value="business">Business</option>
          <option value="first">First</option>
        </select>
        
        <label for="passengers"></label>
        <select id="passengers" name="passengers">
          <option value="one">1 Passenger</option>
          <option value="two">2 Passengers</option>
          <option value="three">3 Passengers</option>
          <option value="four">4 Passengers</option>
          <option value="five">5 Passengers</option>
          <option value="six">6 Passengers</option>
          <option value="seven">7 Passengers</option>
          <option value="eight">8 Passengers</option>
          <option value="nine">9 Passengers</option>
        </select>
        
        <div class="star-loc">
        <label for="starloc">Starting Location</label>
        <input list="startlocation" name="startloc">
        <datalist id="startlocation">
          <option value="Omaha Epply Airfield">
          <option value="Chicago O'Hare International">
          <option value="Des Moines International">
          <option value="John F. Kennedy International">
        </datalist>
        </div>


        <div class="end-loc">
        <label for="endloc">End Location</label>
        <input list="endlocation" name="endloc">
        <datalist id="endlocation">
          <option value="Omaha Epply Airfield">
          <option value="Chicago O'Hare International">
          <option value="Des Moines International">
          <option value="John F. Kennedy International">
        </datalist>
        </div>


        <div class="star-date">
        <label for="startday">Start Date</label>
        <input type="date" id="startday">
        </div>


        <div class="end-date">
        <label for="endday">End Date</label>
        <input type="date" id="endday">
        </div>


        <div class="sub-but">
        <input type="submit" value="Search">
        </div>

        
      </form>
    
    </body>
    </main>
</html>